* {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    background-color: #e8e8e8;
}

img {
    max-height: 300px;
    width: auto;
    margin-top: 50px;
    border-radius: 15%;
}

h2, h3, p {
    color: rgb(41, 41, 41);
}

h2 {
    margin-bottom: 0;
    margin-top: 25px;
}

h3 {
    margin-top: 5px;
}

ul {
    text-align: left;
}

body > ul {
    margin-left: calc(50% - 250px);
}

ul li {
    text-align: left;
}

.social {
	list-style: none;
	font-size: 15px;
	padding: 0;
	margin: 0;
}

.social li {
	padding-bottom: 5px;
}

.icon {
    width: 30px;
    height: auto;
    margin-left: 20px;
}

#first-icon {
    margin-left: 0;
}

.opis a {
	display: contents;
}
